.copies{
	display: none;
}
#date-application{
	margin: 0px auto;
	width: 24%;
}
#panel2, #panel3{
	display: none;
}
#add-request{
	display: none;
}
#invalid-apply, .date-application{
	display: none;
}
#div-row{
	margin-top: 5%;
}
.edit-label{
	margin-top: 5px;
}
#edit-col{
	width: 71.333333%;
}
.panel-edit-width{
	width: 812px;
}
